@import '../../styles/mediaQueries';

.container {
  max-width: 844px;
  display: grid;
  grid-gap: 20px;
  align-items: stretch;

  @include devices(xs) {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    grid-auto-rows: min-content;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  @include devices(md) {
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    // margin: auto;
  }

  @include devices(lg) {
    grid-template-columns: repeat(4, minmax(196px, 1fr));
  }
}

.columns_2 {
  @include devices(xs) {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  }

  @include devices(md) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.columns_3 {
  @include devices(xs) {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
  @include devices(md) {
    grid-template-columns: repeat(3, minmax(268px, 1fr));
  }
  grid-template-rows: repeat(auto-fill, minmax(191px, 1fr));
}

.columns_4 {
  @include devices(xs) {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  }

  @include devices(md) {
    grid-template-columns: repeat(4, minmax(196px, 1fr));
  }
}
