.container {
  max-width: 844px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(141px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.columns_2 {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.columns_3 {
  grid-template-columns: repeat(3, minmax(268px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(191px, 1fr));
}

.columns_4 {
  grid-template-columns: repeat(4, minmax(196px, 1fr));
}
