@import '../../styles/mixins';
@import '../../styles/mediaQueries';

.main {
  @include container;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin-top: 75px;

  @include devices(xs) {
    flex-direction: column-reverse;
    margin-top: 24px;
    gap: 32px;
  }

  @include devices(lg) {
    flex-direction: row;
    gap: 20px;
  }
}
