@use '../../styles/colors';
@import '../../styles/typography';
@import '../../styles/mediaQueries';

.container {
  width: 100%;

  @include devices(xs) {
    display: none;
  }

  @include devices(lg) {
    display: block;
  }

  h4 {
    @include label;
    color: colors.$black_semi;
  }

  input[type='range'] {
    width: 100%;
  }
}
