@use '../../styles//colors';
@import '../../styles/mediaQueries';
@import '../../styles/typography';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  padding: 32px;
  width: 100%;
  gap: 32px;
  background: colors.$light;
  border: 1px solid colors.$black_50;
  border-radius: 8px;

  @include devices(xs) {
    margin: auto;
    max-width: 100%;
  }

  @include devices(sm) {
    margin: auto;
    max-width: 412px;
  }

  @include devices(lg) {
    margin: 0;
  }
}

.hidden {
  height: 179px;
}

.hideFiltersBtn {
  @include label;
  text-transform: unset;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  color: colors.$links;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @include devices(lg) {
    display: none;
  }
}
