@use '../../styles/colors';
@import '../../styles/typography';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  button {
    @include label;
    background: colors.$light;
    padding: 11px 38px;
    cursor: pointer;
    border: 0;
    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    border-radius: 4px;
    color: colors.$black_semi;

    &:hover {
      color: colors.$black_dark;
      box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.06);
    }

    &:active {
      color: colors.$black_dark;
      background: colors.$black_25;
      box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.06);
    }
  }

  h4 {
    @include label;
    text-transform: unset;
    color: colors.$black_semi;
  }
}
