@use '../styles/colors';
@use '../styles/typography';
@import '../styles/mediaQueries';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 24px;
}

.logo {
  height: 70px;
  width: 70px;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 412px;
  width: 100%;

  input {
    font-size: 16px;
    line-height: 120%;
    color: colors.$black_dark;
  }
}
