@use '../styles/colors';
@import '../styles/mixins';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: colors.$black_25;
  box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
  min-height: 70px;

  .wrapper {
    @include container;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  & ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 41px;

    button {
      gap: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: colors.$error;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  .username {
    text-transform: capitalize;
  }
}
