/* palette/yellow */
$yellow: #fdbc11;

$light: #ffffff;

/* blacks/dark */
$black_dark: #2b2b2b;

/* blacks/semi */
$black_semi: #808080;

/* blacks/25% */
$black_25: #fdfdfd;

/* blacks/50% */
$black_50: #f2f2f2;

/* tech/error */
$error: #ec4466;

/* tech/links */
$links: #3f53be;
